<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="Ex: Nakamura">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Ex: Nagomi">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Ex: test@gmail.com">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-radio-group aria-label="Gender">
            <mat-label><b>Gender</b></mat-label>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="females">Female</mat-radio-button>
          </mat-radio-group>
          
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Education</mat-label>
            <mat-select>              
                <mat-option *ngFor="let val of education" [value]="val">{{val}}                   
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input matInput type="text" placeholder="Ex: Google">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Experience</mat-label>
            <input matInput placeholder="Ex: 4" type="number">
            <mat-hint>In Years</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Package</mat-label>
            <input matInput placeholder="Ex: 12" type="number">
            <mat-hint>In LKR</mat-hint>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="actions">
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary">Save</button>
</div>
